html, body, div, p {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#wrapper {
}

#controlPanel {
  position: fixed;
  background: #fff;
  display: none;
}

#mainCanvas {
  position: fixed;
  background: url(../i/blank.2.png);
  display: none;
}

